* {margin: 0;}

/* frame */
#mainContent {
  width: 515px;
  height: 515px;
  background-color: orange;
  border-radius: 5%;
  float: left;
  border: 2px solid black;
  padding: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* content */
#title, #charactor, #startBtn {
  margin: 0 auto;
  margin-bottom: 25px;
}

#title {
  width: 300px;
  height: 150px;
  margin-top: 15px;
}

#charactor img{
  width: 200px;
  height: 200px;
}

#startBtn {
  width: 300px;
  height: 75px;
  padding: 0;
  border: none;
  background-color: none;
}