* {margin: 0;}

/* frame */
#container {
  width: 1050px;
  height: 550px;
  background-color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#leftCharacter {
  width: 250px;
  height: 250px;
  background-color: red;
  float: left;
}

#mainContent {
  width: 515px;
  height: 515px;
  background-color: orange;
  border-radius: 5%;
  float: left;
  border: 2px solid black;
  padding: 15px;
  text-align: center;
}

#rightCharacter {
  width: 250px;
  height: 350px;
  background-color: pink;
  float: left;
}

/* content */
#title, #charactor, #startBtn {
  margin: 0 auto;
  margin-bottom: 25px;
}

#title {
  width: 300px;
  height: 150px;
  background-color: magenta;
  margin-top: 15px;
}

#charactor {
  width: 200px;
  height: 200px;
  background-color: chartreuse;
}

#startBtn {
  width: 300px;
  height: 75px;
}